*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    
}

.trees{
    height :100vh;
    width :100%;
    background-image:url(trees.png);
    background-size: cover;
    position: absolute;

}
    .track{
    height :20vh;
    width :800vw;
    background-image:url(track2.jpeg);
    background-repeat: repeat-x;
    position: absolute;
        top: 90vh;
        animation: carMove linear 2s infinite;

    }

    .thar{
        height:200px;
        width: 480px;
        background-image:url(thar2.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 222px;
        bottom: 0;
         animation: shake linear .2s infinite;
          
    }

        

    .wheel1 img{
       width: 135px;
        position: relative;
        top: 110px;
        left: 35px;
        animation: wheelrotation linear .2s infinite;

}
    .wheel2 img{
        width: 135px;
        position: relative;
        top: -27px;
        left: 325px;
         animation: wheelrotation linear .2s infinite;
        
    }
   
     @keyframes wheelrotation
    {
        100%{
            transform: rotate(360deg);
        }
    }
    
    @keyframes carMove
    {
        100%{
            transform: translatex(-500vw);
        }
    }

   
     @keyframes shakebody
    {
        0%{
            transform: translatey(-50px);
        }
         50%{
            transform: translatey(50px);
        }
         100%{
            transform: translatey(-50px);
        }
    }

